<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817707268297-95oe2cuibplcv5lvo6vbn60hq2q2284q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817707268297-95oe2cuibplcv5lvo6vbn60hq2q2284q</string>
	<key>API_KEY</key>
	<string>AIzaSyDuCjsMNykTIwQaFDU-GgBD12wAabvzkww</string>
	<key>GCM_SENDER_ID</key>
	<string>817707268297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.black.nxclone</string>
	<key>PROJECT_ID</key>
	<string>nxclone</string>
	<key>STORAGE_BUCKET</key>
	<string>nxclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817707268297:ios:297119c7f26b1e0c7ff518</string>
</dict>
</plist>